PORT=3000

# Your Google Account Credentials (App Password)
GMAIL_USER=your_email@gmail.com
# Use an App Password if 2-Step Verification is enabled on your Google Account
GMAIL_APP_PASSWORD=your_16_character_app_password
